*{
    margin: 0;
    padding: 0;
}

#parent{
    padding: 5px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr ;
    grid-template-rows: 1fr 0fr 6fr 1fr;
    height: 95vh;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "latéral main main"
        "footer footer footer"
        "copy copy copy"
    ;
}
#parent header,nav,aside,main,footer{
    display: flex;
    justify-content: center;
}
header{
    background-image:url(imgs/video-games-digital-art-subnautica-subnautica-below-zero-science-fiction-hd-wallpaper-preview.jpg);
    grid-area: header;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 40px;
}
header button{
    padding: 8px 16px;
    background-color: rgba(0, 0, 255, 0.775);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
h1{
    color: white;
}
nav{
    background-color: rgba(0, 0, 255, 0.499);
    grid-area: nav;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 14px;
    padding-left: -6px;
    margin-bottom: 5px;
    color: white;

}
ul{
    list-style-type:none;
    text-decoration: none;
}
p{
    text-decoration: none;
    margin-right: 50px;
}
p a:hover {
    color: #f12c09;
}
aside{
    background-color: rgba(0, 0, 255, 0.718);
    grid-area: latéral;
}
aside ul{
    margin-top: 20px;
    
}
aside ul li{
    margin: 10px 5px;
    color: white ;
}

main{
    background-color: rgba(0, 4, 255, 0.11);
    grid-area: main;
    flex-wrap: wrap;
    padding: 20px;
}
main h2{
    margin-top: 50px;
}
main p{
    margin-left: 100px;
    margin-right: 100px;
    font-size: medium;
}
footer{
    background-color: rgba(0, 0, 255, 0.499);
    grid-area: footer;
    padding: 20px;
}
footer #reseaux a:hover {
    color: #007bff;
}
nav ul{
    display: flex;
}
footer .footer{
    display: flex;
    padding: 10px;
    margin: 10px;
}
#reseaux a{
    text-decoration: none;
    padding: 30px;
    margin-right: 20px;
    color: white
}
#menue a{
    text-decoration: none;
    padding: 30px;
    margin-right: 20px;
    color: white;
}
#copy p{
    text-align: center;
    width: 100%;
    
}
#copy{
    grid-area: copy;

}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
/** partie bouton **/
form input, 
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-content: center;
    margin: right 500px;
}
form button {
    padding: 8px 16px;
    background-color: rgba(0, 0, 255, 0.499);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
}
